<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Graphs</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="../static/fonts/font.ttf" rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Last Processed Graphs</h1>
    <h2>Timestamp: {{ timestamp }}</h2>
    <h3>Input Number: {{ input_number }}</h3>
    <h3>Output Number: {{ output_number }}</h3>
    <h3>Filter: {{ filter_str }}</h3>
    <h3>Passed Graphs:</h3>
    <div id="graph-wrapper">

        <div class="graph">
            <p>HtpBGwL</p>
            <img src="/static/images/HtpBGwL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HtprGoL</p>
            <img src="/static/images/HtprGoL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HtpzGgL</p>
            <img src="/static/images/HtpzGgL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttBGgL</p>
            <img src="/static/images/HttBGgL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttbGgL</p>
            <img src="/static/images/HttbGgL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttBGwL</p>
            <img src="/static/images/HttBGwL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttbGoL</p>
            <img src="/static/images/HttbGoL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttjGwL</p>
            <img src="/static/images/HttjGwL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HttbGwL</p>
            <img src="/static/images/HttbGwL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HtpRGoL</p>
            <img src="/static/images/HtpRGoL.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{tR@K[</p>
            <img src="/static/images/H%7BtR@K%5B.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{dJXcp</p>
            <img src="/static/images/H%7BdJXcp.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{dIXcp</p>
            <img src="/static/images/H%7BdIXcp.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H|dIXcp</p>
            <img src="/static/images/H%7CdIXcp.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{p`_kX</p>
            <img src="/static/images/H%7Bp%60_kX.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{p`_{X</p>
            <img src="/static/images/H%7Bp%60_%7BX.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H{p`_oN</p>
            <img src="/static/images/H%7Bp%60_oN.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HspzHg[</p>
            <img src="/static/images/HspzHg%5B.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>H|p`_oN</p>
            <img src="/static/images/H%7Cp%60_oN.svg" style="width: 100px;height: 100px;" alt="">
        </div>
        
        <div class="graph">
            <p>HtpJ@kX</p>
            <img src="/static/images/HtpJ@kX.svg" style="width: 100px;height: 100px;" alt="">
        </div>

    </div>
</body>
</html>
