<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="{{ url_for('static', filename= 'fonts/font.ttf') }}" rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Last Processed Graphs</h1>
    <div id="graph-wrapper">
        {% for graph in last_20 %}
        <div class="graph">
            <div class="graph-info">
                <h2>{{ graph[4] }}</h2>
                <p>{{ graph[0] }}</p>
                <p>{{ graph[1] }}</p>
                <p>{{ graph[2] }}</p>
                <p>{{ graph[3] }}</p>
            </div>
            <img src="{{ url_for('static', filename= 'images/' + graph[4] + '.svg') }}" alt="">
        </div>
        {% endfor %}
    </div>
</body>
</html>
