<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processed Graphs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <link href="{{ url_for('static', filename= 'fonts/font.ttf') }}" rel='stylesheet' type='text/css'>
</head>
<body>
    <h1>Last Processed Graphs</h1>
    <h2>Timestamp: {{ timestamp }}</h2>
    <h3>Input Number: {{ input_number }}</h3>
    <h3>Output Number: {{ output_number }}</h3>
    <h3>Filter: {{ filter_str }}</h3>
    <h3>Last 20 passed graphs:</h3>
    <div id="graph-wrapper">
        {% for graph in passed_graphs %}
        <div class="graph">
            <p>{{ graph }}</p>
            <img src="{{ url_for('static', filename= 'images/' + graph + '.svg') }}" alt="">
        </div>
        {% endfor %}
    </div>
</body>
</html>
